/* 

Typical Device Breakpoints 
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768 até 992px
Desktop: 992 até 1200px
Grandes Telas: acima de 1200px

*/

/* Modelo Celular */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

/* Header / Menu-Bar */

#sect1{
    background-image: url(../img/imagem\ 1.png);
    background-size: cover;
    background-position: center left;
    background-attachment: fixed;
    height: 100vh;
    
}

#background{
    background-color: rgba(0, 0, 0, 0.484);
    height: 50px;
    width: 100%;
    padding: 5px;
    position: fixed;
}

#menu-bar{
    display: inline-flex;
}

#align{
    position: absolute;
    top: 20px;
    margin-left: 20px;
}

#logo{
    background-image: url(../img/logo-da-loja.jpeg);
    background-size: cover;
    margin-top: 2px;
    width: 45px;
    height: 45px;
    margin-left: 20px;
    border-radius: 50%;
    display: inline-flex;
}

.link{
    color: white;
    font-size: 1.2em;
    text-decoration: none;
    margin-left: 20px;
    font-weight: 600;
    position: relative;
}

/* Deixar so para o computador */

.link::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 0%;
    height: 3px;
    background-color: chocolate;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.link:hover::before{
    width: 100%;
}

#sect p{
    text-indent: 20px;
    text-align: justify;
    color: white;
    margin: 0px 20px 20px 20px;
}

#sect h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
    
/* ------------------ */

#img-restaurante{
    background-image: url(../img/foto-restaurante.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    height: 250px;
}

#img-dono{
    background-image: url(../img/dono-da-empresa.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 20px;
    height: 250px;
}

#rodape{

}

h3{
    text-align: center;
    font-size: 1.2em;
    color: white;
}

ul{
    margin: 10px;
    display: inline-flex;
    justify-items: center;
}

ul > li{
    display: inline;
    margin-left: 40px;
    color: white;
}

#icon-zap{ 
    color: green;
}

#icon-instagram{
    color: blueviolet;
}
