/* 

Typical Device Breakpoints 
Pequenas Telas: até 600px
Celular: de 600px até 768px
Tablet: 768 até 992px
Desktop: 992 até 1200px
Grandes Telas: acima de 1200px

*/

/* Modelo Celular */

*{
    padding: 0px;
    margin: 0px;
    box-sizing: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    background-color: black;
    height: 100vh;
}

/* Header / Menu-Bar */

#background{
    background-image: url(../img/img-inicio/imagem\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
}

#header{
    background-color: rgba(0, 0, 0, 0.484);
    height: 70px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row: 70px;
    padding: 3px;
}

#logo{
    background-image: url(../img/img-inicio/logo-da-loja.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 65px;
    width: 65px;
    border-radius: 50%;
    display: grid;
    grid-row: 1;
    grid-column: 1;
    margin-left: 25px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.703);
}

#menu-hamburguer{
    display: grid;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 35px;
    grid-row: 1;
    grid-column: 2;
    margin-top: 18px;
    margin-left: 130px;
}

menu{
    display: none;
    width: 100%;
}

nav{
    background-color: rgba(0, 0, 0, 0.484);
}

nav > a{
    height: 30px;
    text-align: center;
    display: block;
    border: 1px solid rgba(210, 105, 30, 0.302);
}

.link{
    text-decoration: none;
    color: white;
    padding: 2px;
}

/* --------------------------- */

/* Deixar so para o computador */

.link::before{
    content: '';
    position: absolute;
    bottom: -3px;
    left: 0px;
    width: 0%;
    height: 4px;
    background-color: chocolate;
    border-radius: 50px;
    transition: all 0.5s ease;
}

.link:hover::before{
    width: 100%;
}

/* ------------------ */

/* Conteudo 1 / Conteudo 2 */

.sect p{
    text-indent: 20px;
    text-align: justify;
    color: white;
    margin: 0px 20px 20px 20px;
}

.sect h2{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

#img-restaurante{
    background-image: url(../img/img-inicio/foto-restaurante.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 20px;
    height: 250px;
}

#img-dono{
    background-image: url(../img/img-inicio/dono-da-empresa.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    margin: 20px;
    height: 250px;
}

/* --------------------------- */

/* Rodapé */

h3{
    text-align: center;
    font-size: 1.2em;
    color: white;
}

ul{
    margin: 10px;
    display: inline-flex;
    justify-items: center;
}

ul > li{
    display: inline;
    margin-left: 40px;
}

ul > li > a{
    text-decoration: none;
    color: white;
}

#icon-zap{ 
    color: green;
}

#icon-instagram{
    color: blueviolet;
}

/* --------------------------- */